# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\计算机组成原理\code\assembler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
